/* パソコン用 */
@media screen and (min-width: 769px) {
  body {
    font-family: 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', 'ＭＳ Ｐ明朝',
      'MS PMincho', serif;
    width: auto;
    margin: 0 auto;
    color: black;
  }

  h1 {
    letter-spacing: 3px;
    margin-top: 64px;
  }

  p {
    letter-spacing: 1.5px;
  }

  /* header */
  /* sidebar */
  .sidebar {
    position: fixed;
    top: 10px;
    left: 10px;
    height: 100vh;
    width: 16vh;
  }

  .sidebar [button] {
    line-height: 0.5;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    border: none;
    color: white;
    background: none;
    font-size: 120px;
  }

  /* main */
  main {
    text-align: center;
  }

  /* top */
  .top {
    height: 100vh;
    width: 100vh;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
  }

  .top [src*='shopView'] {
    object-fit: cover;
  }

  .top [src*='storeIcon1'] {
    width: 24px;
    margin-bottom: 18px;
  }

  .top [src*='storeIcon2'] {
    width: 24px;
    margin-bottom: 18px;
  }

  .top h1 {
    font-size: 48px;
    font-weight: 1;
  }

  .top p {
    font-size: 18px;
    font-weight: 1;
  }

  /* contents */
  .contents {
    margin-top: 240px;
    width: 84%;
    right: 0px;
  }

  .contents [src*='main_photo'] {
    margin-top: 60px;
    object-fit: cover;
    width: 40vw;
    height: 40vw;
    border-radius: 50%;
  }

  .subContents {
    display: flex;
    justify-content: center;
  }

  .subContents img {
    margin: 40px 15px;
    width: 50vw;
    height: auto;
  }

  /* contents_fin */

  .contentsFin {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contentsFin [src*='icon1'] {
    width: 100px;
    margin-bottom: 18px;
  }

  .contentsFin [src*='icon2'] {
    width: 100px;
    margin-bottom: 18px;
  }

  .instagramLink {
    display: flex;
    justify-content: end;
    background-color: aqua;
  }

  .instagramLink [src*='instagram'] {
    width: 24px;
    height: 24px;
    margin: 0 12px;
  }

  /* footer */
  footer {
    margin-top: 60px;
    text-align: center;
  }

  .other {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .other h2 {
    font-weight: normal;
    font-size: 20px;
  }

  .other a {
    margin-left: 12px;
    color: black;
    text-decoration: none;
    transition: 0.5s;
  }

  .other a:hover {
    color: lightgray;
    transition: 0.1s;
  }

  .attention {
    margin: 64px 0 32px;
    font-size: 8px;
    color: lightgray;
    line-height: 1.5;
  }
}

/* タブレット用 */
@media only screen and (min-width: 641px) and (max-width: 960px) {
  /*ここに通常のCSSを入れる*/
}

/* スマートフォン用 */
@media screen and (max-width: 640px) {
  body {
    font-family: 'ヒラギノ明朝 Pro W1', 'Hiragino Mincho Pro', 'ＭＳ Ｐ明朝',
      'MS PMincho', serif;
    width: 100vw;
    margin: 0 auto;
    color: black;
  }

  h1 {
    letter-spacing: 3px;
    line-height: 1.5;
    font-weight: 100;
  }

  p {
    letter-spacing: 1.5px;
    line-height: 2;
  }

  /* header */
  header {
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 20;
  }

  /* sidebar */
  .sidebar {
    height: 100%;
    width: 16vw;
    text-align: center;
    position: absolute;
    z-index: 30;
    /* 透明度 */
    /* opacity: 0; */
  }

  .sideBarMask {
    background-color: rgb(235, 235, 235);
    width: 100%;
    height: 100%;
    position: absolute;
    top: -100vh;
    /* 透明度 */
    opacity: 0;
  }

  .sidebarDelimiter {
    position: absolute;
    top: 0;
    width: 100%;
    height: 22px;
    border-right: 1px solid rgb(235, 235, 235);
    /* z-index: 40; */
  }

  .sideBarContents {
    position: absolute;
    width: 100%;
    height: 100%;
    /* z-index: 40; */
  }

  .sidebar [type='button1'] {
    /* display: none; */
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    padding-bottom: 100vh;
    font-size: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    border: none;
    color: grey;
    background: none;
  }

  .sidebar [type='button2'] {
    display: none;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    padding-bottom: 100vh;
    font-size: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    border: none;
    color: grey;
    background: none;
  }

  .sidebar .sidebarShopName p {
    position: absolute;
    font-weight: lighter;
    width: 100%;
    height: 100%;
    font-size: 13px;
    text-align: center;
    top: 35vh;
    left: 0;
    line-height: 0.65;
    opacity: 0;
  }

  .sidebarShopName p span {
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: inline-block;
    transform: rotate(90deg);
  }

  .siteMenu {
    top: 0;
    width: 100vw;
    z-index: 20;
    /* 透明度 ONOFFでSiteMenuの表示*/
    /* opacity: 1; */
  }

  .siteMenuMask {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    opacity: 1;
  }

  .siteMenuContents {
    position: absolute;
    left: -100%;
    width: 79%;
    margin-left: 16%;
    display: block;
    opacity: 0;
  }

  .siteMenu p {
    padding-bottom: 2rem;
    padding-left: 1rem;
    font-size: 12px;
    width: 64%;
  }

  .siteMenuContents img[src*='lamp.png'] {
    /* z-index: 1; */
    width: 20px;
    height: 20px;
    transform: rotate(180deg);
    margin: 0.3em 0;
  }

  .siteMenuContents [src*='store'] {
    width: 22px;
    height: 22px;
    margin-top: 1em;
    margin-right: 4px;
  }

  .siteMenuTop {
    display: flex;
  }

  .siteMenu nav {
    /* width: 78%; */
    margin-left: 5%;
  }

  .siteMenu nav .inner ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .siteMenu nav .inner li {
    margin: 0;
    border-bottom: 1px solid rgb(235, 235, 235);
  }

  .siteMenu nav .inner li [src*='lamp'] {
    margin: 0 6px 0 0;
    width: 12px;
    height: 12px;
  }

  .siteMenu nav .inner li a {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 1rem;
    transition-duration: 0.2s;
  }

  .siteMenu nav .inner li a:hover {
    background-color: #e4e4e4;
  }

  /* main */
  main {
    text-align: center;
    z-index: 10;
    position: relative;
  }

  main img[src*='lamp.png'] {
    z-index: 1;
    width: 20px;
    height: 20px;
    transform: rotate(180deg);
    margin: 0.3em 0;
  }

  /* top */
  .top {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-image: url(../img/shopView1.jpg);
    background-size: cover;
  }

  .top [src*='storeIcon1'] {
    width: 80px;
    margin-top: 30%;
    margin-bottom: 5%;
    /* z-index: 10; */
  }

  .top [src*='storeIcon2'] {
    width: 80px;
    /* z-index: 10; */
  }

  .top h1 {
    font-size: 18px;
    line-height: 1.8;
    font-weight: 1;
    margin-top: 10%;
    /* z-index: 10; */
  }

  .top p {
    margin-top: 10%;
    font-size: 10px;
    font-weight: 1;
    line-height: 180%;
    /* z-index: 10; */
  }

  /* contents */
  [class*='contents'] {
    width: 84%;
    margin-left: 16%;
    margin-top: 28%;
    /* z-index: 1; */
  }

  [class*='contents'] h1 {
    font-size: 24px;
    letter-spacing: 0.2em;
  }

  [class*='contents'] p {
    font-size: 14px;
    letter-spacing: 0.1em;
    line-height: 2em;
  }

  /* contents1 */

  .window {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
    /* z-index: -1; */
  }

  .contents1 [src*='shopView17'] {
    width: 110%;
    object-fit: cover;
    border-radius: 50%;
    margin: 10% 0;
  }

  .contents1 h1 {
    opacity: 0;
  }

  .contents1 .contents1-img1 {
    opacity: 0;
  }

  .contents1 p {
    opacity: 0;
  }

  /* contents2 */
  .subContents {
    display: flex;
    /* justify-content: start; */
    overflow: hidden;
    margin: 5% 0 0 5%;
    width: 90%;
  }

  .subContents span {
    display: none;
  }

  .subContents img {
    width: 200%;
  }

  .subContentsCount {
    margin: 0 0 8% 5%;
    text-align: start;
  }

  /* contents3 */

  .instagramContents {
    margin-top: 16px;
    margin-left: 5%;
    width: 90%;
    position: relative;
    overflow: hidden;
  }

  .instagramContents::before {
    content: '';
    padding-top: 100%;
    display: block;
  }

  .instagramContents [src*='instagramContents'] {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
  }

  .instagramContentsCount {
    margin: 0 0 8% 5%;
    text-align: start;
  }

  /* contentsFin */

  .contentsFin {
    width: 84%;
    margin: 90px 0 0 16%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contentsFin [src*='Icon1'] {
    width: 32px;
    margin-bottom: 8px;
  }

  .contentsFin [src*='Icon2'] {
    width: 32px;
    margin-bottom: 8px;
  }

  .contentsFin p {
    font-size: 10px;
    margin-bottom: 48px;
  }

  .instagramLink {
    width: 80%;
    display: flex;
    flex-direction: row;
    background-color: rgb(235, 235, 235);
    border-radius: 2%;
    justify-content: center;
    align-items: center;
  }

  .instagramLink a {
    padding: 1.5em 2em;
    display: flex;
    text-decoration: none;
    color: #333;
    transition-duration: 0.2s;
  }

  .instagramLink [src*='instagram'] {
    width: 24px;
    height: 24px;
    margin: 0 12px;
  }

  .instagramLink p {
    margin: 0;
  }

  /* footer */
  footer {
    height: auto;
    width: 100%;
    margin-top: 60px;
    text-align: center;
  }

  .other {
    width: 84%;
    font-size: 14px;
    margin: 16% 0 0 16%;
    text-align: start;
  }

  .hr {
    width: 80%;
    margin-bottom: 64px;
    color: lightgray;
    /* opacity: ; */
  }

  .other h2 {
    margin-left: 10%;
    margin-bottom: 24px;
    width: auto;
    font-weight: normal;
    font-size: 18px;
  }

  .other nav {
    width: 80%;
    margin-left: 10%;
  }

  .other nav .inner ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .other nav .inner li {
    margin: 0;
    border-bottom: 1px solid rgb(235, 235, 235);
  }

  .other nav .inner li [src*='lamp'] {
    margin: 0 6px 0 0;
    width: 12px;
    height: 12px;
  }

  .other a {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 1rem 1rem 1rem 0;
    transition-duration: 0.2s;
  }

  .attention {
    text-align: center;
    margin: 64px 0 32px;
    font-size: 8px;
    color: lightgray;
    line-height: 1.5;
  }
}

/* common */
