/* パソコン用 */
@media screen and (min-width: 769px) {
  body {
    font-family: 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', 'ＭＳ Ｐ明朝',
      'MS PMincho', serif;
    width: auto;
    margin: 0 auto;
    color: black;
  }

  h1 {
    letter-spacing: 3px;
    margin-top: 64px;
  }

  p {
    letter-spacing: 1.5px;
  }

  /* header */
  /* sidebar */
  .sidebar {
    position: fixed;
    top: 10px;
    left: 10px;
    height: 100vh;
    width: 16vh;
  }

  .sidebar [button] {
    line-height: 0.5;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    border: none;
    color: white;
    background: none;
    font-size: 120px;
  }

  /* main */
  main {
    text-align: center;
  }

  /* top */
  .top {
    height: 100vh;
    width: 100vh;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
  }

  .top [src*='shopView'] {
    object-fit: cover;
  }

  .top [src*='storeIcon1'] {
    width: 24px;
    margin-bottom: 18px;
  }

  .top [src*='storeIcon2'] {
    width: 24px;
    margin-bottom: 18px;
  }

  .top h1 {
    font-size: 48px;
    font-weight: 1;
  }

  .top p {
    font-size: 18px;
    font-weight: 1;
  }

  /* contents */
  .contents {
    margin-top: 240px;
    width: 84%;
    right: 0px;
  }

  .contents [src*='main_photo'] {
    margin-top: 60px;
    object-fit: cover;
    width: 40vw;
    height: 40vw;
    border-radius: 50%;
  }

  .sub_contents {
    display: flex;
    justify-content: center;
  }

  .sub_contents img {
    margin: 40px 15px;
    width: 50vw;
    height: auto;
  }

  /* contents_fin */

  .contents_fin {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contents_fin [src*='icon1'] {
    width: 100px;
    margin-bottom: 18px;
  }

  .contents_fin [src*='icon2'] {
    width: 100px;
    margin-bottom: 18px;
  }

  .link {
    display: flex;
    justify-content: end;
    background-color: aqua;
  }

  .link [src*='instagram'] {
    width: 24px;
    height: 24px;
    margin: 0 12px;
  }

  /* footer */
  footer {
    margin-top: 60px;
    text-align: center;
  }

  .other {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .other h2 {
    font-weight: normal;
    font-size: 20px;
  }

  .other a {
    margin-left: 12px;
    color: black;
    text-decoration: none;
    transition: 0.5s;
  }

  .other a:hover {
    color: lightgray;
    transition: 0.1s;
  }

  .attention {
    margin: 64px 0 32px;
    font-size: 8px;
    color: lightgray;
    line-height: 1.5;
  }
}

/* タブレット用 */
@media only screen and (min-width: 641px) and (max-width: 960px) {
  /*ここに通常のCSSを入れる*/
}

/* スマートフォン用 */
@media screen and (max-width: 640px) {
  body {
    font-family: 'ヒラギノ明朝 Pro W1', 'Hiragino Mincho Pro', 'ＭＳ Ｐ明朝',
      'MS PMincho', serif;
    width: 100vw;
    margin: 0 auto;
    color: black;
  }

  h1 {
    letter-spacing: 3px;
    line-height: 1.5;
    font-weight: 100;
  }

  p {
    letter-spacing: 1.5px;
    line-height: 2;
  }

  /* header */
  header {
    height: 100%;
    width: 100%;
  }
  
  /* sidebar */
  .sidebar {
    height: 100%;
    width: 16%;
    text-align: center;
    position: fixed;
  }

  .sidebar [type='button'] {
    margin-left: 0;
    padding-left: 0;
    vertical-align: top;
    width: 100%;
    padding-bottom: 100vh;
    font-size: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    border: none;
    color: white;
    background: none;
  }

  .sidebar [type='button']:hover {
    background-color: blue;
  }

  .sidebar p {
    position: fixed;
    font-weight: lighter;
    margin: 0;
    width: 16%;
    font-size: 12px;
    top: 40%;
    left: 0%;
    line-height: 0.7;
  }

  .sidebar p span {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: inline-block;
    transform: rotate(90deg);
  }

  /* main */
  main {
    text-align: center;
    z-index: 0;
  }

  /* top */
  .top {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
  }

  .top [src*='shopView1'] {
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -10;
  }

  .top [src*='storeIcon1'] {
    width: 80px;
    margin-top: 30%;
    margin-bottom: 5%;
  }

  .top [src*='storeIcon2'] {
    width: 80px;
  }

  .top h1 {
    font-size: 18px;
    line-height: 1.8;
    font-weight: 1;
    margin-top: 10%;
  }

  .top p {
    margin-top: 10%;
    font-size: 10px;
    font-weight: 1;
    line-height: 180%;
  }

  /* contents */
  .contents {
    width: 84%;
    margin-left: 16%;
    margin-top: 50%;
  }

  .contents [src*='shopView17'] {
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
  }

  .window {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
  }

  .sub_contents {
    display: flex;
    justify-content: center;
    overflow: hidden;
  }

  .sub_contents span {
    display: none;
  }

  .sub_contents img {
    margin: 40px 15px;
    width: 150%;
    height: auto;
  }

  /* contents_fin */

  .contents_fin {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contents_fin [src*='icon1'] {
    width: 100px;
    margin-bottom: 18px;
  }

  .contents_fin [src*='icon2'] {
    width: 100px;
    margin-bottom: 18px;
  }

  .link {
    display: flex;
    justify-content: end;
    background-color: aqua;
  }

  .link [src*='instagram'] {
    width: 24px;
    height: 24px;
    margin: 0 12px;
  }

  /* footer */
  footer {
    height: auto;
    width: 84%;
    margin-top: 60px;
    margin-left: 16%;
    text-align: center;
  }

  .other {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .other h2 {
    font-weight: normal;
    font-size: 20px;
  }

  .other a {
    margin-left: 12px;
    color: black;
    text-decoration: none;
    transition: 0.5s;
  }

  .other a:hover {
    color: lightgray;
    transition: 0.1s;
  }

  .attention {
    margin: 64px 0 32px;
    font-size: 8px;
    color: lightgray;
    line-height: 1.5;
  }
}

/* common */
